
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

/*.navbar-right{
    float:right !important;
    margin-right: 15px; margin-left:15px;
}*/

.mg-category-menu {
    /*background-color: forestgreen !important;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid lightgrey;
    border-radius: 8px;

    margin-bottom:10px;
}

.mg-category-menu-xs {
    /*background-color: orange !important;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mg-category-menu .btn-lg {
    font-size: unset;
    width: 100%;
    text-align: left;
}
.mg-category-menu-xs .btn-lg {
    width: unset;
}

#mg-xs-nav .navbar-collapse .nav-item {
    /*border: 1px solid magenta !important;*/
    padding-left:7px;
}

#mg-md-nav .navbar-brand{
    padding-left:7px;
}




.adminLayoutNav {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.adminLayoutNavInner {
    /*border: 1px solid brown;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.adminLayoutTitle {
    /*border: 1px solid orange;*/
    font-size: 29px;
    max-width: 180px;
    margin-right: 17px;
}
.adminLayoutTitle h2{
    font-size: 29px;
    margin-bottom: 2px;
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 5px;
}
.adminLayoutPageLinks {
    /*border: 1px solid magenta;*/
    margin-top: 4px;
}
.adminLayoutPageLinks a.btn{
    margin-bottom: 3px;
}