
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

/*.navbar-right{
    float:right !important;
    margin-right: 15px; margin-left:15px;
}*/

#AdminEditProductValidationSummary {
    display: flex;
    justify-content: center;
}
#AdminEditProductValidationSummary .validation-summary-errors{
    text-align: left;
}

.mg-category-menu {
    /*background-color: forestgreen !important;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-bottom: 10px;
}

.mg-category-menu-xs {
    /*background-color: orange !important;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mg-category-menu .btn-lg {
    font-size: unset;
    width: 100%;
    text-align: left;
}
.mg-category-menu-xs .btn-lg {
    width: unset;
}

#mg-xs-nav .navbar-collapse .nav-item {
    /*border: 1px solid magenta !important;*/
    padding-left:7px;
}

#mg-md-nav .navbar-brand{
    padding-left:7px;
}

.mgAccTable td,input.form-control{
    font-size:12px;
    height:30px;
}

tr.mgAccTable th, tr {
    text-align: center;
}

tr.mgAccTable td {
    padding: 1px;
    vertical-align: middle;
}
tr.mgAccTable input{
    border: none;
    text-align: center;
    text-overflow: ellipsis;
}

table.detailBody th{
    text-align:left;
}

.adminLayoutNav {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.adminLayoutNavInner {
    /*border: 1px solid brown;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.adminLayoutTitle {
    /*border: 1px solid orange;*/
    font-size: 29px;
    max-width: 180px;
    margin-right: 17px;
}
.adminLayoutTitle h2{
    font-size: 29px;
    margin-bottom: 2px;
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 5px;
}
.adminLayoutPageLinks {
    /*border: 1px solid magenta;*/
    margin-top: 4px;
}
.adminLayoutPageLinks a.btn{
    margin-bottom: 3px;
}

.disabled {
    background-color: #e5e5e5;
    color: #a4a4a4;
}
.card-body.disabled {
    background-color: #efefef !important;
}

label.mgProductEdit {
    /*display: inline-block;*/
    width: 140px;
    font-weight: bold;
    text-align: left;
    width:100%;
}
input.mgProductEdit {
    /*display: inline-block;*/
    /*max-width: 385px;*/
}
textarea.mgProductEdit {
    /*display: inline-block;*/
    /*max-width: 385px;*/
    min-height: 130px;
}
input.mgAjaxText {
    max-width: 70px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    text-align: right;
}
@media (min-width: 576px) {
    .mgProductEdit {
        display: inline-block;
    }
    label.mgProductEdit {
        width: 150px;
    }
    .mgProductEdit {
        max-width: 375px;
    }
}