@model App472.WebUI.Models.AdminOrdersIndexTableHeadRow
<th scope="col">
    <a class="mg-th-link" href="@Url.Action("Index", "AdminOrders")" data-sortby="@Model.Key" data-asc="@Model.Value">
        @Model.Key <i class="bi bi-caret-@(Model.Value ? "up" : "down")-fill"></i>
    </a>
</th>