<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="align-items:unset;">

    <div id="mg-xs-nav" class="d-block d-sm-none" style="width:100%;">
        @Html.Partial("~/Views/Nav/_NavBarContent.cshtml")
    </div>

    <div id="mg-sm-nav" class="d-none d-sm-block d-md-none" style="width:100%;">
        @Html.Partial("~/Views/Nav/_NavBarContent.cshtml")
    </div>

    <div id="mg-md-nav" class="container d-none d-md-block" style="">
        @Html.Partial("~/Views/Nav/_NavBarContent.cshtml")
    </div>
</nav>