<a class="navbar-brand" href="@Url.Action("Index", "Home", new {} )">

    <span class="d-inline-block d-md-none" style="margin-left:2px;"></span>
    <span class="d-inline-block d-sm-none">SPORTS</span>
    <span class="d-inline-block d-sm-none">STORE</span>

    <span class="d-none         d-sm-inline-block">SPORTS STORE</span>

</a>

<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="width: 100%;
            /*border: 2px dashed yellow;*/
            ">

        <li class="nav-item">@Html.ActionLink("Shop", "List", "Product", new { area = "" }, new { @class = "nav-link" })</li>

        <li class="nav-item">@Html.ActionLink("Admin", "Index", "AdminProducts", new { area = "" }, new { @class = "nav-link" })</li>

        <li class="nav-item" style="width: 100%;
                /*border: 2px dashed orange;*/
                ">
            @Html.Action("Summary", "Cart", new { requestPath = Request.Path })
        </li>
    </ul>
</div>