<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings configBuilders="UserSecrets,Json">
        <!-- Define where our DBContext class(es) should look, for their database initializer(s) -->
        <!-- Initializer for this class (LEFT) in this assembly (LEFT), is found in this class (RIGHT) in this assembly (RIGHT) -->
        <add key="DatabaseInitializerForType App472.Domain.Concrete.EFDBContext, App472.Domain" value="App472.WebUI.App_Start.Release.EFDBInitializer, App472.WebUI"
            xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"
        />
        <add key="DatabaseInitializerForType App472.WebUI.Models.IDDBContext, App472.WebUI"  value="App472.WebUI.App_Start.Release.IDDBInitializer, App472.WebUI"
            xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"
        />
    </appSettings>

    <!--<configBuilders> UP TO HERE.     Got to insert this into the Web.Config using xdt... BEFORE the SimpleJsonConfigBuilder executes.  Or find another config builder that executes AFTER xdt.  Also, extract secrets.debug paths into the Web.Debug.config file.
        <builders>
            <add
                 name="UserSecrets"
                 mode="Greedy"
                 prefix="AppSetting_"
                 userSecretsFile="~/../../secrets.release/usersecrets.xml"
                 stripPrefix="true"
                 type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 xdt:Transform="SetAttributes"
                 xdt:Locator="Match(name)"
                 />

            <add
                name="Json"
                mode="Greedy"
                jsonMode="Sectional"
                jsonFile="~/../../secrets.release/seed.json"
                type="Microsoft.Configuration.ConfigurationBuilders.SimpleJsonConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Json"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)"
            />

            <add
                name="ConnectionStringsJson"
                mode="Greedy"
                jsonMode="Sectional"
                jsonFile="~/../../secrets.release/connections.json"
                type="Microsoft.Configuration.ConfigurationBuilders.SimpleJsonConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Json"
                xdt:Transform="SetAttributes"
                xdt:Locator="Match(name)"
            />
        </builders>
    </configBuilders>-->
</configuration>
