<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <appSettings>
        <!-- Define where our DBContext class(es) should look, for their database initializer(s) -->
        <!-- Initializer for this class (LEFT) in this assembly (LEFT), is found in this class (RIGHT) in this assembly (RIGHT) -->
        <add key="DatabaseInitializerForType App472.WebUI.Models.IDDBContext, App472.WebUI" value="App472.WebUI.App_Start.Release.IDDBInitializer, App472.WebUI" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
        <add key="DatabaseInitializerForType App472.Domain.Concrete.EFDBContext, App472.Domain" value="App472.WebUI.App_Start.Release.EFDBInitializer, App472.WebUI" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    </appSettings>

    <system.web>
        <!--Disable stack trace in production. Debug=false -->
        <compilation debug="false" targetFramework="4.7.2" xdt:Transform="Replace" />
    </system.web>

</configuration>