@model App472.Domain.Entities.Cart

<div style="
    /*background-color:darkseagreen;*/
    /*border:solid 3px green;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;">

    <div style="display:inline-block;padding:8px; color:#aeaeae;">
        <b>Your cart:</b>
        @Model.Lines.Sum(x => x.Quantity) item(s),
        @Model.ComputeTotalValue().ToString("c")
    </div>

    <div class="float-right" style="display:inline-block">
        <a class="btn btn-success" href="@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })"><i class="bi bi-cart4"></i> Checkout</a>
    </div>
</div>