@model App472.WebUI.Models.AdminEditProductViewModel
@{
    ViewBag.Title = "Admin: Edit" + Model.Product.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">

    <div class="card-body">
        <h3 class="card-title">Edit: @Model.Product.Name</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin")) // post to the Edit action
    {
        @Html.HiddenFor(m => m.Product.ProductID)

        //form controls go here

        <div class="card-body">
            <input type="submit" value="Save" class="btn btn-success" />
            @Html.ActionLink("Cancel and return to List", "Index", null, new
            {
                @class = "btn btn-warning"
            })
        </div>
    }
</div>