@using App472.WebUI.Infrastructure;
@model App472.WebUI.Models.AdminUserAccViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin: User Accounts";
}

<div class="card">
    <div class="card-body">
        <h5 style="display:inline-block">Showing All Users&nbsp;</h5> <span style="color:#ff4040;" id="ajaxErr"></span>
        <br />
        <div></div>
        <div class="table-responsive-xl">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr class="mgAccTable">
                    <th scope="col">Id</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Account Type</th>

                    <th scope="col" style="min-width:120px;">Email</th>
                    <th class="text-center" scope="col">EmailConfirmed</th>

                    <th scope="col">Phone Number</th>
                    <th class="text-center" scope="col">Ph.Confirmed</th>

                    <th class="text-center" scope="col">TwoFactorEnabled</th>
                    <th scope="col">Lockout Date</th>
                    <th scope="col">Locked Out?</th>
                    <th class="text-center" scope="col">Access Failed Count</th>

                    <th class="text-center" scope="col">Orders</th>
                    <th class="text-center" scope="col">View Orders</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Guests != null)
                {
                    foreach (var guest in Model.Guests)
                    {
                        @Html.Partial("~/Views/AdminUserAcc/_TableRowGuest.cshtml", guest)
                    }
                }

                @if (Model != null && Model.FullUsers != null)
                {
                    foreach (var fullUser in Model.FullUsers)
                    {
                        @Html.Partial("~/Views/AdminUserAcc/_TableRowFullUser.cshtml", fullUser)
                    }
                }
            </tbody>
        </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/AdminUserAccIndex.js"></script>