@using App472.WebUI.Infrastructure;
@model App472.WebUI.Models.AdminUserAccViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin: User Accounts";
}

<div class="card">
    <div class="card-body">
        <h5>Showing All Users</h5>
        <br />
        <div></div>
        <table class="table table-hover" style="font-size:12px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Account Type</th>

                    <th scope="col">Email</th>
                    <th scope="col">EmailConfirmed</th>

                    <th scope="col">Phone Number</th>
                    <th scope="col">Ph.Confirmed</th>

                    <th scope="col">TwoFactorEnabled</th>
                    <th scope="col">Lockout Date</th>
                    <th scope="col">Locked Out?</th>
                    <th scope="col">Access Failed Count</th>

                    <th scope="col">Orders</th>
                    <th scope="col">View Orders</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Guests != null)
                {
                    foreach (var guest in Model.Guests)
                    {
                        @Html.Partial("~/Views/AdminUserAcc/_TableRowGuest.cshtml", guest)
                    }
                }

                @if (Model != null && Model.FullUsers != null)
                {
                    foreach (var fullUser in Model.FullUsers)
                    {
                        @Html.Partial("~/Views/AdminUserAcc/_TableRowFullUser.cshtml", fullUser)
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/AdminUserAccIndex.js"></script>